<div class="container">
  <mat-card>
    <h2>Obstacles</h2>

    <div class="col-12 map">
      <agm-map [latitude]="52.22" [longitude]="21.01">
        <agm-marker *ngFor="let obstacle of obstacles" [latitude]="obstacle.latitude" [longitude]="obstacle.longitude">
          <agm-info-window>
            <div class="agm-window-content">
              <div>ID: {{obstacle.id}}</div>
              <div>Name: <strong>{{obstacle.name}}</strong> at milestone: {{obstacle.milestone}}km</div>
            </div>
            <button mat-button color="accent" (click)="showObstacleDetails(obstacle.id)">Show more</button>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>

    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let obstacle of obstacles" (click)="showObstacleDetails(obstacle.id)">
          <p matLine>ID: {{obstacle.id}} </p>
          <p matLine>Name: {{obstacle.name}} </p>
          <p matLine>City: {{obstacle.city}}</p>
          <p>
            <mat-icon *ngIf="!obstacle.immovable" color="accent" [matTooltip]="'This obstacle is not immovable'">check</mat-icon>
            <mat-icon *ngIf="obstacle.immovable" color="warn" [matTooltip]="'This obstacle is immovable'">error</mat-icon>
          </p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
