<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header [collapsedHeight]="'125px'" [expandedHeight]="'125px'">
      <mat-panel-title>
        <h6>{{road.name}}</h6>
        From <span class="from-dest">{{road.startNode.name}}</span><br>
        to <span class="from-dest">{{road.endNode.name}}</span>
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="buttons-row">
      <button mat-raised-button color="accent" (click)="changeShouldShowMap()">
        <span *ngIf="shouldShowMap">Hide map</span>
        <span *ngIf="!shouldShowMap">Show map</span>
      </button>

      <button mat-raised-button color="primary" (click)="addNewObstacle()">Add obstacle
      </button>
      <button mat-raised-button color="warn" (click)="deleteRoad(road.id)">Delete road
      </button>

    </div>

    <div class="row">
      <div class="col-12">
        <p><strong>Road ID:</strong><span class="road-id">{{road.id}}</span></p>
      </div>
      <div class="col-6">
        <p><strong>Start:</strong> [{{road.startNode.latitude | number: '1.0-5'}}, {{road.startNode.longitude | number: '1.0-5'}}]</p>
        <p><strong>Numbers:</strong>
          <app-road-number *ngFor="let number of road.numbers" [number]="number"></app-road-number>
        </p>
        <p><strong>Lines:</strong> {{road.lines}}</p>
        <p *ngIf="road.width"><strong>Width:</strong> {{road.width}} [mm]</p>
        <p><strong>Traffic factor: </strong> <span *ngIf="road.trafficFactor">{{road.trafficFactor}}</span><span
          *ngIf="!road.trafficFactor">UNKNOWN</span></p>
      </div>
      <div class="col-6">
        <p><strong>End:</strong> [{{road.endNode.latitude | number: '1.0-5'}}, {{road.endNode.longitude | number: '1.0-5'}}]</p>
        <p><strong>Type:</strong> {{road.type}}</p>
        <p><strong>KM range:</strong> {{road.kmRange}}</p>
        <p><strong>Max axle load:</strong> {{road.maxAxleLoad}} [kN]</p>
        <p><strong>Direction: </strong> <span *ngIf="road.roadDirection == 'ONE_WAY'">One way</span> <span *ngIf="road.roadDirection == 'TWO_WAY'">Two way</span>
        </p>
      </div>
      <div class="col-6" *ngIf="road.admins && road.admins.length > 0">
        <h6>Managed By:</h6>
        <ul>
          <li *ngFor="let admin of road.admins">{{admin.name}}</li>
        </ul>
      </div>


      <div class="col-12 obstacles">
        <app-obstacle [obstacles]="road.obstacles" (obstacleRemoved)="reload()"></app-obstacle>
      </div>
      <div *ngIf="shouldShowMap" class="col-12 map">
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-direction [origin]="origin" [destination]="destination">
          </agm-direction>
          <agm-marker *ngFor="let obstacle of road.obstacles" [latitude]="obstacle.latitude" [longitude]="obstacle.longitude">
            <agm-info-window>{{obstacle.name}} at milestone: {{obstacle.milestone}}km</agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
