<div id="dialog-wrapper">
  <mat-icon class="icon-close" (click)="dialogRef.close()">close</mat-icon>
</div>

<mat-dialog-content>
  <div class="container">
    <p *ngIf="hasErrors">Something went wrong, please try later.</p>
    <mat-spinner *ngIf="loading" [diameter]="50"></mat-spinner>
    <div *ngIf="obstacle">
      <h3>{{obstacle.name}}</h3>
      <p>City: {{obstacle.city}}</p>
      <div class="section">
        <img class="icon" src="../../../../../../assets/icons/coords.png" alt="coords"/>
        <span>Coords: [lat={{obstacle.latitude}}, lon={{obstacle.longitude}}]</span>
      </div>
      <div class="section">
        <img class="icon" src="../../../../../../assets/icons/milestone.png" alt="milestone"/>
        <span>Milestone: {{obstacle.milestone}}</span>
      </div>
      <div class="section">
        <span>Movable:</span>
        <mat-icon class="immovable-icon" *ngIf="!obstacle.immovable" color="accent" [matTooltip]="'This obstacle is not immovable'">check</mat-icon>
        <mat-icon class="immovable-icon" *ngIf="obstacle.immovable" color="warn" [matTooltip]="'This obstacle is immovable'">error</mat-icon>
      </div>
      <p class="comment" *ngIf="obstacle.comment">"{{obstacle.comment}}"</p>
      <mat-divider></mat-divider>
      <div class="obstructions">
        <h4>Obstructions:</h4>
        <mat-list>
          <mat-list-item *ngIf="obstacle.obstructions.height">
            <div matSubheader>Height obstruction</div>
            <p matLine>Subtype: {{obstacle.obstructions.height.subtype}}</p>
            <p matLine>Limit: {{obstacle.obstructions.height.limit}}</p>
            <p matLine>Range: {{obstacle.obstructions.height.range}}</p>
            <p matLine>Profile: {{obstacle.obstructions.height.profile}}</p>
            <mat-divider mat-line></mat-divider>
          </mat-list-item>

          <mat-list-item *ngIf="obstacle.obstructions.weight">
            <div matSubheader>Weight obstruction</div>
            <p matLine>Subtype: {{obstacle.obstructions.weight.subtype}}</p>
            <p matLine>Limit: {{obstacle.obstructions.weight.limit}}</p>
            <p matLine>MLC: {{obstacle.obstructions.weight.mlc}}</p>
            <mat-divider mat-line></mat-divider>
          </mat-list-item>


          <mat-list-item *ngIf="obstacle.obstructions.width">
            <div matSubheader>Width obstruction</div>
            <p matLine>Subtype: {{obstacle.obstructions.width.subtype}}</p>
            <p matLine *ngFor="let limit of obstacle.obstructions.width.limits; let i = index" [attr.data-index]="i">
              {{i + 1}}) Limit {{limit}} [mm] on range {{obstacle.obstructions.width.ranges[i]}} [mm]
            </p>
            <p matLine class="hint">Width limits are measured between road center and obstruction.</p>
            <p matLine class="hint">Negative values indicates that obstruction passed road centre.</p>
            <mat-divider mat-line></mat-divider>
          </mat-list-item>

          <mat-list-item *ngIf="obstacle.obstructions.elevation">
            <div matSubheader>Elevation obstruction</div>
            <p matLine>Vertical curve radius: {{obstacle.obstructions.elevation.verticalCurveRadius}}</p>
            <mat-divider mat-line></mat-divider>
          </mat-list-item>

          <mat-list-item *ngIf="obstacle.obstructions.curvature">
            <div matSubheader>Curvature obstruction</div>
            <p matLine>Inner radius: {{obstacle.obstructions.curvature.innerRadius}}</p>
            <p matLine>Outer radius: {{obstacle.obstructions.curvature.outerRadius}}</p>
            <p matLine>Boundary radius: {{obstacle.obstructions.curvature.boundaryRadius}}</p>
            <mat-divider mat-line></mat-divider>
          </mat-list-item>

        </mat-list>
      </div>
    </div>
  </div>
</mat-dialog-content>
