#dialog-wrapper {
  cursor: pointer!important;
  position: relative;
}

.icon-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.comment {
  font-style: italic;
}

.icon {
  height:24px;
  margin-right: 12px;
}

.section {
  padding: 8px;
}

mat-divider {
  padding: 8px;
}

.immovable-icon {
  vertical-align: bottom;
  margin-left: 8px;
}
