<div class="container">
  <mat-card>
    <h2>Nodes ({{nodes.length}}):</h2>
    <mat-card-content>
      <div *ngIf="!loading" class="col-12 map">

        <mat-radio-group aria-label="Show node types">
          <mat-radio-button value="ALL" (click)="changeType('ALL')">All</mat-radio-button>
          <mat-radio-button value="ROUNDABOUTS" (click)="changeType('ROUNDABOUT')">Roundabouts</mat-radio-button>
          <mat-radio-button value="INTERSECTION" (click)="changeType('INTERSECTION')">Intersections</mat-radio-button>
        </mat-radio-group>

        <agm-map [latitude]="52.229676" [longitude]="21.012229">
          <agm-marker *ngFor="let node of filteredNodes" [latitude]="node.latitude" [longitude]="node.longitude">
            <agm-info-window>
              <div class="agm-window-content">
                <div>Name: <strong>{{node.name}}</strong></div>
                <div>Type: {{node.type}}</div>
                <div *ngIf="node.type === 'INTERSECTION'">
                  <button mat-button color="accent" (click)="createRoundabout(node.id)">Mark as roundabout</button>
                </div>
              </div>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </mat-card-content>
  </mat-card>
</div>
