html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("assets/background/bg.png");
}

agm-map {
  color: black;
}

mat-card {
  margin-bottom: 26px;
}

button:focus {
  outline: none !important;
}

span {
  outline: none;
}

.blue-snackbar {
  background: #1976d2;
}

.green-snackbar {
  background: #66bb6a;
}
