@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-image: url("https://templated.co/items/demos/visualize/images/bg.jpg");
  background-size: cover;
  background-position: top center;
}

