<h5>Rest Points</h5>
<mat-list *ngIf="restPoints.length > 0">
  <mat-list-item *ngFor="let restPoint of restPoints">
    <h3 matLine> {{restPoint.name}}</h3>
    <p matLine>
      <span>Restpoint on milestone: {{restPoint.milestone}}km, geo: [{{restPoint.latitude}}, {{restPoint.longitude}}]</span>
    </p>
    <p matLine>
      <span>Width: [{{restPoint.width}}], Length: [{{restPoint.length}}]</span>
    </p>
  </mat-list-item>
</mat-list>
<div *ngIf="restPoints.length === 0 || !restPoints">
  <div>There are no restpoints on this road.</div>
</div>
